@import "tailwindcss";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(0.585 0.233 253.312);
  --primary-foreground: oklch(0.985 0 0);
}

body {
  background-color: #f8fafc;
  color: #0f172a;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* Custom Scrollbar for Calendar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

@keyframes slide-up {
  from { transform: translateY(10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
